/* .hero-img {
    background-image: url('/media/hero-hotsauce.webp');
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
} */