<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link" aria-label="Link to homepage">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Products dropdown menu">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item" aria-label="Sort products by price">By Price</a>
                <a href="{% url 'products' %}?sort=brand&direction=asc" class="dropdown-item" aria-label="Sort products by brand">By Brand</a>
                <a href="{% url 'products' %}?sort=heat_level&direction=asc" class="dropdown-item" aria-label="Sort products by heat level">By Heat</a>
                <a href="{% url 'products' %}" class="dropdown-item" aria-label="View all products">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hotsauce-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Hot Sauce dropdown">
                Hot Sauce
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hotsauce-link">
                <a href="{% url 'products' %}?category=hot_sauce&heat_level=mild" class="dropdown-item" aria-label="View mild hot sauces">Mild</a>
                <a href="{% url 'products' %}?category=hot_sauce&heat_level=medium" class="dropdown-item" aria-label="View medium hot sauces">Medium</a>
                <a href="{% url 'products' %}?category=hot_sauce&heat_level=hot" class="dropdown-item" aria-label="View hot hot sauces">Hot</a>
                <a href="{% url 'products' %}?category=hot_sauce&heat_level=extra_hot" class="dropdown-item" aria-label="View extra hot hot sauces">Extra Hot</a>
                <a href="{% url 'products' %}?category=hot_sauce&heat_level=inferno" class="dropdown-item" aria-label="View inferno hot sauces">Inferno</a>
                <a href="{% url 'products' %}?category=hot_sauce" class="dropdown-item" aria-label="View all hot sauce">All Hot Sauce</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="snacks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Spicy snacks drop down">
                Spicy Snacks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="snacks-link">
                <a href="{% url 'products' %}?category=spicy_snacks&heat_level=mild" class="dropdown-item" aria-label="View all mild snacks">Mild</a>
                <a href="{% url 'products' %}?category=spicy_snacks&heat_level=medium" class="dropdown-item" aria-label="View all medium snacks">Medium</a>
                <a href="{% url 'products' %}?category=spicy_snacks&heat_level=hot" class="dropdown-item" aria-label="View all hot snacks">Hot</a>
                <a href="{% url 'products' %}?category=spicy_snacks&heat_level=extra_hot" class="dropdown-item" aria-label="View all extra hot snacks">Extra Hot</a>
                <a href="{% url 'products' %}?category=spicy_snacks&heat_level=inferno" class="dropdown-item" aria-label="View all inferno snacks">Inferno</a>
                <a href="{% url 'products' %}?category=spicy_snacks" class="dropdown-item" aria-label="View all snacks">All Snacks</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contactform' %}" aria-label="Link to contact form">Contact Us</a>
          </li>
    </ul>
</div>