{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Contact Us</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 mb-5">
            <!-- crispy forms contact form -->
            {% csrf_token %}
            {% crispy form %}
        </div>
        <div class="col-12 col-lg-6 col-sm-4 mb-5 order-lg-last">
            <!-- MailChimp newsletter signup -->
            <div id="mc_embed_shell">
                <div id="mc_embed_signup">
                    <form
                        action="https://herokuapp.us21.list-manage.com/subscribe/post?u=f7f1b996faf0a276307ded4ba&amp;id=c561fda60b&amp;f_id=0085fae6f0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <h2>Subscribe to our Newsletter</h2>
                            <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                        class="asterisk">*</span></label><input type="email" name="EMAIL"
                                    class="required email" id="mce-EMAIL" required="" value=""></div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                /* real people should not fill this in and expect good things - do not remove this or
                                risk form bot signups */
                                <input type="text" name="b_f7f1b996faf0a276307ded4ba_c561fda60b" tabindex="-1" value="">
                            </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                        value="Subscribe">
                                    <p style="margin: 0px auto;"><a href="http://eepurl.com/iHMuOg"
                                            title="Mailchimp - email marketing made easy and fun"><span
                                                style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                                    class="refferal_badge"
                                                    src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                    alt="Intuit Mailchimp"
                                                    style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}