{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <p>
                    Thank you for contacting FlameMasters!
                </p>
                <p>
                    Our team will be in touch with you as soon as possible
                </p>
            </div>
        </div>
    </div>
{% endblock %}