{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Reviews</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <h2>Confirm Review Deletion</h2>
                <p>Are you sure you want to delete your review for {{ review.product.name }}?</p>

                <form action="{% url 'delete_product_review' review.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Confirm Deletion</button>
                    <a href="{% url 'product_detail' review.product.id %}" aria-label="Returns to the product detail page">Cancel</a>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}